h1{
  text-align: center;
}
.grid{
  margin: 0 auto;
}

.grid-box {

  width: 4rem;

  height: 4rem;
  position: relative;
  border:1px solid #ccc;
  text-align:center;
  font-family:sans-serif;
  font-size:13px;
  background-color: peru;
}

#lizard {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
}
