.parallax-window {
    min-height: 500px;
    background: transparent;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: black;
  margin: 0;
}
header {
  display: flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
  background-color: black;
}

#youtube{
  position: relative;
  /* width: 120%
  height: 1000px; */
}

.videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  /* optional */
  width: 100%;
  height: 100%;
}

footer {
  height: 120px;
  background-color: black;
  font-weight: 300;
  color: rgba(224,224,224,1);
  text-align: center;
  font-size: 0.7rem;
  margin-top: 30px;
}


h1{
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  color: rgba(224,224,224,1);
  letter-spacing: 3.5px;
}

.vs {
  color: rgba(73,133,73);
  font-weight: 300;
}

button{
  border-color: inherit;
  border-style: none;
  background-color: inherit;
}
.video{
  width: 3rem;
  height: 3rem;
  background-color: #686868;
  font-size: 1rem;
  text-align: center;
}

.bbc-logo{
  width: 3.5rem;
  height: 3.5rem;
  background: url( '../images/BBC_Earth_logo.png' ) no-repeat;
  background-size: contain;
  background-position: center;
}


.ga-logo {
  background: url( '../images/ga-logo.png' ) no-repeat;
  display: inline-block;
  width: 2rem;
  height: 40px;
  background-size: contain;
  background-position: center;
  margin-top: 5px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: black;
}

.start-button {
  font-size: 1rem;
  font-weight: 700;
  width: 5rem;
  height: 3rem;
  color: rgba(73,133,73);
  background-color: rgba(240,240,240);
  border-radius: 20px;
  border-style: none;
  outline: none;
  margin: 0 15px;
}

.start-button:hover {
  background-image: linear-gradient(-45deg, rgba(73,133,73), rgba(0,156,204));
  color: white;
  font-weight: 600;
}

.message-box {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  width: 20rem;
  height: 3rem;
  border-radius: 20px;
  border: 0.5px solid #686868;
  color: #E0E0E0;
  margin: 0 15px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  line-height: 2rem;
}


.score-box {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  width: 8rem;
  height: 3rem;
  border-radius: 20px;
  border: 0.5px solid #686868;
  color: #E0E0E0;
  margin: 0 15px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  line-height: 2rem;
}
.score {
  font-weight: 900;
}

.shake-message-box{
  animation: shake 0.3s infinite;
  border-color: rgba(73,133,73);
}

.gameover-message-box{
  animation: shake 0.3s;
  background-image: linear-gradient(-45deg, rgba(81,55,144), rgba(239,56,68));
}

.shake-score-box{
  animation: shake 0.1s infinite;
  border-color: rgba(73,133,73);
}

@keyframes shake {
  0% {
    transform: rotate(3deg);
  }
  35% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

.grid{
  margin: 0 auto;
  color: rgba(0, 0, 0, 0);
  border-collapse:collapse;
}

.grid-box {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  border: 0.1rem solid rgba(184,184,184);
  text-align:center;
  font-family:sans-serif;
  font-size: 10px;
  background-color: #E0E0E0;
}


.sea {
  background-image: url( '../images/sea-waves.png' );
  background-size: contain;
  background-position: center;
  background-color: #B8B8B8;
}

.rock {
  background-image: url( '../images/rock.png' );
  background-size: contain;
  background-position: center;
  background-color: #686868;
}


#lizard {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
  /* background-color: black; */
}

.dead-lizard {
 animation-duration: 1s;
 animation-name: blink;
}

@keyframes blink {
  from {
    background-color: black;
  }

  to {
    background-color: white;
  }
}

.snake {
  background-color: rgba(73,133,73);
}
